.square {
    background-color: white;
    border: 1px solid black;
    flex: 1;
    aspect-ratio: 1; /* ✅ keep squares square */
    min-width: 0;
    min-height: 0;
}

.squaresDiv {
    display: flex;
    width: 960px;

    flex: 1;
    min-width: 0;
    min-height: 0;
}

.container {
    margin-top: 20px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prompt-btn{
    margin-bottom: 50px;
}

.header{
    display: flex;
    justify-content: center;
}